@import "_variable_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "Layout/header";
@import "Pages/home";

h2, h3{
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn{
  margin: 1rem auto !important;
}
