@import "_variable_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "Layout/header";
@import "Layout/footer";
@import "Pages/home";
@import "Pages/filmFeatured";
@import "Pages/festivalPage";
@import "Pages/news";
@import "Components/buttons";
@import "Layout/forms";

h1{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

h2, h3{
  text-align: center;
  margin-bottom: 1.5rem;

}

h2{
  @include media-breakpoint-up(lg) {
    text-align: left;

  }
}

.row, .col-12{
  margin-bottom: 1rem;
}


//----------- ANIMATION TESTS ---------------//
// ------------------------------------------//
.ballContainer{
  margin-top: 200px;
  &__btn{
    order: 2;
    &:active + .ballContainer__ball{
      transform: scale(1.0);
    }
  }
  &__ball {
    order: 1;
    width: 100px;
    height: 100px;
    background: green;
    margin-bottom: 1rem;
    border-radius: 100px * 0.5;
    transform: scale(0.1);
    transition: transform 4s;
  }
}

